/* Step */

:root{
  --step-bg: rgba(var(--card), 0.1);
  --step-card-bg: rgba(255, 255, 255, 1);
  --step-card-border: rgba(226, 232, 240, 1);
  --step-text-main: rgba(15, 23, 42, 1);
  --step-text-sub: rgba(71, 85, 105, 1);
  --step-text-footer: rgba(100, 116, 139, 1);
  --step-primary: rgba(147, 51, 234, 1);
}