@use 'sass:list';

@import '../../ui-button/styles/button-variants';

.icon-btn {
  @each $name, $colors in $variants {
    &[data-variant='#{$name}'] {
      @if $name == 'destructive' {
        &:focus-visible {
          box-shadow: 0 0 0 3px color-mix(in srgb, var(--destructive) 20%, transparent);
        }
      }

      &[data-outlined='false'] {
        @include btn-variant(list.nth($colors, 1), list.nth($colors, 2));
      }

      &[data-outlined='true'] {
        @include btn-outline-variant(list.nth($colors, 1));
      }

    }
  }

  &[data-rounded="true"] { border-radius: 9999px; }

  &[data-bg-none="true"] {
    background-color: transparent !important;
    &:hover,
    &:active,
    &:focus-visible {
      background-color: transparent !important;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

}