.my-column{
  width:100%;
  margin-bottom: 1rem;
}

.my-badge{
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.75em;
  font-weight: 700;
  background-color: color-mix(in srgb, var(--bg-badge) 25%, transparent);
  border-radius: 50rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

}

@media screen and (min-width:640px) {
  .my-column{
    width:50%;
    margin-bottom: 0;
    flex: 0 0 50%;

  }
}
