@import '../../../styles/basic-component-styles/list-content';

.select-content {
  position: relative;
  z-index: 50;
  max-height: var(--radix-select-content-available-height);
  min-width: 8rem;
  transform-origin: var(--radix-select-content-transform-origin);
  overflow: hidden auto;

  @include list-content-animation;
}

.select-viewport-popper {
  height: var(--radix-select-trigger-height);
  width: 100%;
  min-width: var(--radix-select-trigger-width);
  scroll-margin-block: 0.25rem;
}

@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: var(--slide-from, translateY(0)) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes zoomOut95 {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
