@use 'sass:list';
@import '../../../styles/variants';
@import '../../../styles/functions';

.icon-badge {
  border-radius: var(--radius);

  @each $name, $colors in $variants {
    &[data-variant='#{$name}'] {
      &[data-reverse='false'] {
        background-color: list.nth($colors, 1);
        color: list.nth($colors, 2);
      }

      &[data-reverse='true'] {
        color: list.nth($colors, 1);
        background: list.nth($colors, 2);
      }

    }
  }

  @each $name, $size in $sizes {
    &[data-size='#{$name}'] {
      font-size: list.nth($size, 1);
      padding: list.nth($size, 4);
    }
  }
}
