.field-error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--destructive);

  &-list {
    margin-left: 1rem;
    display: flex;
    list-style-type: disc;
    flex-direction: column;
    gap: 0.25rem;
  }
}
