.combobox-content {
  position: relative;
  max-height: 24rem;
  width: var(--anchor-width);
  max-width: var(--available-width);
  min-width: calc(var(--anchor-width) + 1.75rem);
  transform-origin: var(--transform-origin);
  overflow: hidden;
  transition-duration: 100ms;

  &[data-chips='true'] {
    min-width: var(--anchor-width);
  }

  & > [data-slot='input-group'] {
    margin: 0.25rem;
    margin-bottom: 0;
    height: 2rem;
    border-color: color-mix(in srgb, var(--input) 30%, transparent);
    background-color: color-mix(in srgb, var(--input) 30%, transparent);
    box-shadow: none;
  }
}
