@use './../../../../../shared/styles/color-variables';
@use './../styles/styles';

.pink-blot{
  left:-3.125rem;
  bottom:-1.25rem;
  width: 35rem;
  height: 35rem;
  filter:blur(6rem);
  background-color: var(--pink-blot);
  opacity: 10%;

}

.green-blot{
  right: -3.125rem;
  top: -3.125rem;
  width: 35rem;
  height: 35rem;
  filter:blur(6rem);
  background: var(--green-blot);
  opacity: 15%;

}