

.form-input {
  margin: 0.5rem !important;
}

.form-text {
  font-family: 'Inter', sans-serif;
  color: var(--text-color) !important;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 2rem !important;
}

.error-text {
  color: red;
  padding-left: 0.5rem;
}

.my-form {

}