@use 'sass:list';

$sizes: (
  'default': (2.25rem),
  'xs':      (1.5rem),
  'sm':      (2rem),
  'lg':      (2.5rem),
);

@mixin icon-size($size) {
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-svg {
  @each $name, $values in $sizes {
    &[data-size='#{$name}'] {
      @include icon-size(list.nth($values, 1));
    }
  }
}

