$sizes: (
  'default': (2.25rem, 1rem,   0.5rem),
  'xs':      (1.5rem,  0.5rem, 0),
  'sm':      (2rem,    0.75rem, 0),
  'lg':      (2.5rem,  1.5rem, 0),
);

@mixin icon-size($height, $padding-x, $padding-y: 0) {
  height: $height;
  padding: $padding-y $padding-x;
}

.icon-svg {
  @each $name, $values in $sizes {
    &[data-size='#{$name}'] {
      @include icon-size(nth($values, 1), nth($values, 2), nth($values, 3));
    }
  }
}

