@use 'sass:list';

@import '../../../styles/variants';

@mixin input-size($height, $padding-x, $padding-y) {
  height: $height;
  padding-inline: $padding-x;
  padding-block: $padding-y;
}

.input {
  @each $name, $values in $sizes {
    &[data-size='#{$name}'] {
      @include input-size(
        list.nth($values, 1),
        list.nth($values, 2),
        list.nth($values, 3)
      );
    }
  }
}