:root[data-bs-theme="light"] {
  --spell-basic: black;
  --spell-revert: white;

  --step-bg: 248 250 252;
  --step-card-bg: 255 255 255;
  --step-card-border: 226 232 240;
  --step-text-main: 15 23 42;
  --step-text-sub: 71 85 105;
  --step-text-footer: 100 116 139;
  --step-primary: 147 51 234;
}

:root[data-bs-theme="dark"] {
  --spell-basic: white;
  --spell-revert: black;

  --step-bg: 9 9 11;
  --step-card-bg: 255 255 255;
  --step-card-border: 255 255 255;
  --step-text-main: 255 255 255;
  --step-text-sub: 161 161 170;
  --step-text-footer: 113 113 122;
  --step-primary: 192 132 252;
}

@theme {
  /* Base */
  --color-primary: rgb(var(--bs-primary-rgb));
  --color-secondary: rgb(var(--bs-secondary-rgb));
  --color-success: rgb(var(--bs-success-rgb));
  --color-danger: rgb(var(--bs-danger-rgb));
  --color-warning: rgb(var(--bs-warning-rgb));
  --color-info: rgb(var(--bs-info-rgb));
  --color-spell-basic: var(--spell-basic);
  --color-spell-revert: var(--spell-revert);

  /* Emphasis */
  --color-primary-emphasis: var(--bs-primary-text-emphasis);
  --color-secondary-emphasis: var(--bs-secondary-text-emphasis);
  --color-success-emphasis: var(--bs-success-text-emphasis);
  --color-danger-emphasis: var(--bs-danger-text-emphasis);
  --color-warning-emphasis: var(--bs-warning-text-emphasis);
  --color-info-emphasis: var(--bs-info-text-emphasis);

  /* Subtle backgrounds */
  --color-primary-subtle: var(--bs-primary-bg-subtle);
  --color-secondary-subtle: var(--bs-secondary-bg-subtle);
  --color-success-subtle: var(--bs-success-bg-subtle);
  --color-danger-subtle: var(--bs-danger-bg-subtle);
  --color-warning-subtle: var(--bs-warning-bg-subtle);
  --color-info-subtle: var(--bs-info-bg-subtle);

  /* Borders */
  --color-primary-border: var(--bs-primary-border-subtle);
  --color-secondary-border: var(--bs-secondary-border-subtle);
  --color-success-border: var(--bs-success-border-subtle);
  --color-danger-border: var(--bs-danger-border-subtle);
  --color-warning-border: var(--bs-warning-border-subtle);
  --color-info-border: var(--bs-info-border-subtle);
}


:root{
  --blue-blot: 59 130 246;
  --pink-blot: 111, 66, 193;
  --green-blot: 32, 201, 151;
  --bg-badge: 220, 53, 69;
}
