@import 'bootstrap/scss/functions';

@import 'variables';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$enable-utilities: false;
$enable-helpers: false;

@import "bootstrap/scss/bootstrap";