@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'design-keys';
@import 'theme';
@import 'key-frames';
@import 'variants';
@import 'basic-component-styles/index';
@import 'animations/index';
@import 'mixins';

html {
  font-size: 14px;

  @include mediascreen('tablet') {
    font-size: 16px;
  }

  @include mediascreen('pc') {
    font-size: 18px;
  }
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE та Edge */
  scrollbar-width: none; /* Firefox */
}
