@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import 'bootstrap/scss/functions';

@import 'color-variables';
@import 'design-keys';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$enable-utilities: false;
$enable-helpers: false;

@import 'bootstrap/scss/bootstrap';

@import 'overrides';