@import "variables";

@mixin mediascreen($type) {
 @if map-has-key($breakpoints, $type) {
   @media screen and (min-width: map-get($breakpoints, $type)) {
     @content;
   }
 }
  @else{
   @media screen and (min-width:$type) {
     @content;
   }
 }
}

html {

    font-size: 14px;

  @include mediascreen("tablet") {
    font-size: 16px;
  }
  @include mediascreen("laptop") {
    font-size: 18px;
  }
  @include mediascreen("desktop") {
    font-size: 19px;
  }
  @include mediascreen("desktop-large") {
    font-size: 22px;
  }
}
